<legend>Add a friend</legend>
<form action='/create' method='post'>
  <fieldset>
  <label class="control-label" for="inputName">Name</label>
  <input type='text' name='name' placeholder="name" autofocus>
  <br>
  <label class="control-label" for="inputAge">Age</label>
  <textarea name='age' placeholder="age"></textarea>
  <br>
  <label class="control-label" for="inputGender">Gender</label>
  <textarea name='gender' placeholder="gender"></textarea>
  <br>
  <label class="control-label" for="inputImage">Image</label>
  <textarea name='image' placeholder="image"></textarea>
  <br>
  <label class="control-label" for="inputTwitter">Twitter</label>
  <textarea name='twitter' placeholder="twitter"></textarea>
  <br>
  <label class="control-label" for="inputGithub">Github</label>
  <textarea name='github' placeholder="github"></textarea>
  <br>
  <button>Save</button>
</fieldset>
</form>